<body>


<div class="card">
   <div class="label">
       <h1 class="header">Dashboard</h1>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of List">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.number}}</td>

                <td><button type="submit"(click)="onEdit(user)">EDIT</button></td>
                <td><button type="submit" (click)="onDelete(user)">Delete</button></td>
            </tr>

        </tbody>
    </table>


</div>

</body>