<div class="card">
  <div class="container">

    <h1 class="header">Registration Form</h1>
    <div>
        <form [formGroup]="registerForm" class="form" (ngSubmit)="onRegister(registerForm.value)">
    
        <label>
            <div class="formGroup">
            Enter First Name:
            <input class="form-control" required type="text" placeholder="firstName" formControlName="firstName">
            </div>
        </label><br>

        <label>
            <div class="formGroup">
            Enter Last Name:
            <input class="form-control" type="text" placeholder="lastName" formControlName="lastName">

            </div>          
        </label><br>
        <label>
            <div class="formGroup">
            Enter your Address:
            <input class="form-control" type="text" placeholder="Address" formControlName="Address"> 

            </div>           
        </label><br>
        <div class="btn-container">
            <button class="btn action-btn" type="submit" [disabled]="!registerForm.valid">Register</button><br>
        
            <button type ="reset" class="btn action-btn"> Reset </button>
            </div>
        </form>
      </div>
    </div>

    <div>
       <app-dashboard [List]="userList" (newItemEvent)="addItem($event)"> </app-dashboard>
    </div>

</div>
