.card{
    display: flex;
    flex-direction: row;
    min-height: 300px;
}

.container{
    background-color: rgb(253, 247, 247);
    box-shadow: 6px 14px rgb(85, 82, 82);
    border-radius: 25px;
    border: 2px solid rgb(199, 161, 168);
    padding: 24px;
    margin: 8px;
    width: 178vw;
    border-radius: 25px;
    font-style: normal;
    margin-top: 70px ;
}
input{
    padding: 8px 8px;
}
.ng-invalid.ng-touched {
    border-color: red;
}
.btn{

    padding: 6px;
    margin-right: 10px;
    border-radius: 8px;
    font-style: oblique;

}
.btn-container{
    display: flex;

}
