<div class="container">

    <h3 class="header">Registration Form</h3>
    <form>
    
        <label>
        <div class="form-group">
            Enter First Name:
            <input class="form-control" type="text" placeholder="firstName" formControlName="firstname">

        </div>
        </label>

<label>
        <div class="form-group">
            Enter Last Name:
            <input class="form-control" type="text" placeholder="lastName" formControlName="lastname">
            
        </div>
        </label>
        

        <div class="form-footer">
            <button class="btn btn-link" routerLink="/dashboard" type="reset">Register</button>
            <input type="reset" value="Reset">
        </div>
</form>

    </div>